<div class="container">
  <br>
    <p style="font-family: cursive;">
      このサイトは日々の盛り付け写真の投稿や、検索をして参考に出来るサイトです。<br>
      登録せず検索する方は上の検索ボックスからどうぞ！<br>
      登録済の方はこちら
      <%= link_to "ログイン", new_user_session_path %><br>
      新規登録の方はこちら
      <%= link_to "新規登録", new_user_registration_path %><br>
    </p>
</div>
  <%= image_tag "meal.png",class: "d-block mx-auto", :width => '940px', :height => '600px' %>
