<div class="container">
  <div class="row">
    <table class="table">
      <h2>検索結果</h2>
        <% @posts.each do |post| %>
        <tr>
          <th>料理名<th>
          <th><%= post.cooking_title %></th>

          <th>ユーザー名</th>
          <th><%= link_to @user.name, user_path(current_user) %></th>
        <% end %>
      </tr>
    </table>
  </div>
</div>
